@media screen and (max-width: 600px) {
    .byuer-table-titles {
        font-size: 14px;
        word-wrap: wrap;
        word-break: break-all;
        padding: 2px !important;
    }
}

.terminal-name-column-btn {
    width: 20%;
}

.card-item {
    background-color: #6c757d85 !important; 

    .card-item-title {
        color: #64d5f7 !important;
    }

    .card-item-information {
        color: darkgrey;
    }
}


